<footer class="py-lg-3 pt-lg-5 col-white">
    <div class="container px-5">
        <div class="row col-lg-12 mx-auto">
            <div class="col-4">
                <img width="150rem" src="/img/cinemaHub-white.svg" alt="">
                <p class="py-4 text-justify">
                    This site is proudly made by <strong>Group 23</strong>.
                    CinemaHub allows you to make movie reservations, keep
                    track of reservation reciepts, and allow you to play
                    some music too.
                    Happy Exploring.🙂
                </p>
            </div>
            <div class="col-4">
                <div class="pb-3">
                    <h5 class="">Support</h5>
                    <p class="mb-1">+2348168202349</p>
                    <p class="mb-1">+2348168202347</p>
                    <p class="mb-1">support@cinemahub.com</p>
                </div>
                <div class="pb-3">
                    <h5 class="">Location</h5>
                    <p class="">MOUAU</p>
                </div>
            </div>
            <div class="col-4">
                <h5 class="pb-4 mb-0">Send Us A Msg</h5>
                <form action="" class="send-msg">
                    <div class="pb-4">
                        <input 
                            type="text"
                            name="fullname"
                            placeholder="Fullname"
                        >
                    </div>
                    <div class="pb-4">
                        <textarea 
                            name="" 
                            id=""
                            rows="10"
                            placeholder="Message"
                        ></textarea>
                    </div>
                    <div class="col-6 ml-auto px-0 pb-4">
                        <input
                            type="submit"
                            value="Send"
                        >
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="copyright">
        <!-- <h4 class="text-center m-0">cinema<span>Hub</span></h4> -->
        <img class="d-block mx-auto" src="/img/cinemaHub-white.svg" width="100rem" alt="">
        <p class="text-center m-0" style="font-size: 13px;">Copyright &copy;2021</p>
    </div>
</footer>