<nav class="navbar navbar-expand-sm px-5 py-3 bg-white shadow">
    <a class="navbar-brand" href="/">
        <img style="width: 10rem;" src="/img/cinemaHub.svg" alt="">
    </a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/music">Music Gallery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/upload-movie">Upload Movie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/view-movies">View Movies</a>
            </li>
            <li class="nav-item">
                {{#if user}}
                        <a class="nav-link" href="/log-out">Log-out</a>
                    {{else}}
                        <a class="nav-link" href="/login">Members Area</a>
                {{/if}}
            </li>
        </ul>
    </div>
</nav>