{{> header}}

    <section id="" class="container">
        <form class="add-song col-lg-6 mx-auto py-5" method="POST" action="/add-song">
            <h2 class="bold py-lg-4">Add Song</h2>
            <div class="image-upload col-lg-12 p-0" style="position: relative;">
                <label class="bold" for="audioPoster">Music Cover (.jpg,.jpeg,.png)</label>
                <input
                    class="filepond d-block p-2 black" 
                    type="file" 
                    name="audioPoster"
                    data-allow-reorder="true"
                    data-max-file-size="5MB"
                    data-max-files="1"
                    accepted-file-types="image/jpeg, image/png"
                    value=""
                >
            </div>
            <div class="image-upload col-lg-12 p-0" style="position: relative;">
                <label class="bold" for="audioPoster">Song (.mp3)</label>
                <input
                    class="filepond d-block p-2 black" 
                    type="file" 
                    name="audio"
                    data-allow-reorder="true"
                    data-max-file-size="15MB"
                    data-max-files="1"
                    value=""
                >
            </div>
            <div class="col-lg-6 mx-auto col-12 submit-button">
                <input type="submit" value="Upload">
            </div>
        </form>
    </section>

{{> footer}}